
#UI {
  width:300px;
  height:100%;
  background-color:rgb(211, 211, 211);
  position:absolute;
}

#box{
  color:#1977d3;
}
#field{
  padding:10px;
}
#logIn{
  width:250px;
  /* position:absolute; */
  margin:25px;
  margin-top:0px;
  
}

#logo{
  margin:25px;
}
#crosshair {
  position:absolute;
  width:10px;
  height:10px;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
}