/* 
#UI {
  width:300px;
  height:50%;
  background-color:red;
  position:absolute;
}

#crosshair {
  position:absolute;
  width:10px;
  height:10px;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
} */